body {
    background-color: aqua;
    margin: 0;
}

h1 {
    text-align: center;
    color: darkorchid;
    font-size: 50px;
}

#Center {
    background-color: deepskyblue;
    width: 850px;
    margin: auto;
}

#Julia, #Mandelbrot {
    margin: 20px;
    color: aliceblue;
}

#c {
    margin-left: 20px;
    color: black;
}

#DrawJulia, #DrawMandelbrot {
    margin: 20px;
    border: 1px solid red;
    background-color: white;
}
